In [17]:
# Import the dependencies.
import pandas as pd
from sqlalchemy import create_engine

In [19]:
# Data retrieved from create_engine from the Prostgres Database 
engine = create_engine('postgresql://postgres:postgres@localhost:5432/OTT_Db')

# Query to fetch data
query1 = 'SELECT * FROM IMDB'
query2 = 'select * from MoviesOnStreaming'
# Read data into a DataFrame
df_IMDB = pd.read_sql(query1, engine)
df_movies = pd.read_sql(query2,engine)
# Display the DataFrame
df_movies.head(100)

,id,title,year,age,imdb,primary_genre,netflix,hulu,primevideo,disneyplus,type,runtime_range
0,1,Room,2015,18+,8.1,Drama,1.0,0,0,0,0,90-120
1,2,Drive,2011,18+,7.8,Crime,1.0,0,1,0,0,90-120
2,3,13th,2016,18+,8.2,Documentary,1.0,0,0,0,0,90-120
3,4,Dolemite Is My Name,2019,18+,7.3,Biography,1.0,0,0,0,0,90-120
4,5,Icarus,2017,18+,7.9,Documentary,1.0,0,0,0,0,90-120
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,A Futile and Stupid Gesture,2018,18+,6.8,Biography,1.0,0,0,0,0,90-120
96,97,Between Two Ferns: The Movie,2019,18+,6.1,Comedy,1.0,0,0,0,0,60-90
97,98,Mr. Roosevelt,2017,18+,6.2,Comedy,1.0,0,0,0,0,60-90
98,99,When We First Met,2018,16+,6.4,Comedy,1.0,0,0,0,0,90-120
99,100,The Perfect Date,2019,16+,5.8,Comedy,1.0,0,0,0,0,60-90